{% extends 'base.html' %}

{% block content %}

<br>
<div class="card text-center">
  <h3 class="card-header">Short Description: {{ teams.short_description }} </h3>
  <div class="card-body">
          <h4 class="card-title">Vacancy: {{ teams.vacancy }}</h4>
          {% if teammates %}
          <br>
          <h4 class="card-title">Teammates Joined:</h4>
          <div class="card-body">
            {% for key, value in teammates.items %}
            <!-- Teammate Name -->
            <div class="form-row text-center">
              <div class="col-md-8 mb-3">
                <h4><a href="{% url 'user_profile' user=key %}">{{ value }}</a></h4>
              </div>
              {% if owner %}
              <!-- Remove button -->
              <div class="col-md-1 mb-3">
                <form action="{% url 'remove_teammate' adv=teams.id %}" enctype="multipart/form-data" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-danger" name="teammate" value="{{ teammate.teammates.user_id }}" type="submit">Remove</button>
                </form>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          {% endif %}
          </div>

            <h4 class="card-title">Relevant Link (URL):</h4>
            <h5>{{ teams.relevant_url }}</h5>

           <br>
            <div class="form-row text-center">
              <div class="col-md-7 mb-3">
                <h4><span class="oi oi-magnifying-glass"></span> T-Up by {{ teams.logged_in_user.user }}</h4>
              </div>
              <div class="col-md-3 mb-3">
                <h4><span class="oi oi-clock"></span> {{ teams.pub_date_pretty }}</h4>
              </div>
            </div>
          <br>
          <h4 class="card-title">Description:</h4>
          <p>{{ teams.description }}</p>
          {% if owner %}
          {% else %}
          <form action="{% url 'join_tup' recruiter=teams.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="col-md-6 text-center"> 
              <button class="btn btn-primary" type="submit">Join</button>
            </div>
          </form>
          {% endif %}
          <br>
        </div>
</div>
<br><br>
{% endblock %}