{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'technology' %}">
        <img src="{% static 'technology.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'technology' %}">
        <h5 class="card-title">Technology T-ups</h5>
      </a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'sports' %}">
        <img src="{% static 'sports.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'sports' %}">
        <h5 class="card-title">Sports T-ups</h5>
      </a>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'gaming' %}">
        <img src="{% static 'gaming.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'gaming' %}">
        <h5 class="card-title">Gaming T-ups</h5>
      </a>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'household_chores' %}">
        <img src="{% static 'household_chores.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'household_chores' %}">
        <h5 class="card-title">Household Chores T-ups</h5>
      </a>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'other' %}">
        <img src="{% static 'other.png' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'other' %}">
        <h5 class="card-title">Other T-ups</h5>
      </a>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}