{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'category' category='Technology' %}">
        <img src="{% static 'technology.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'category' category='Technology' %}">
        <h5 class="card-title">Technology T-ups</h5>
      </a>
      <p class="card-text">Look for wide range of Technology related T-up advertisements like Hackathons, Kaggle Competitions, Coding Contests, etc. </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'category' category='Sports' %}">
        <img src="{% static 'sports.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'category' category='Sports' %}">
        <h5 class="card-title">Sports T-ups</h5>
      </a>
        <p class="card-text">Look for wide range of Sports related T-up advertisements like forming a Cricket Team, find a Gym Partner, etc.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'category' category='Gaming' %}">
        <img src="{% static 'gaming.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'category' category='Gaming' %}">
        <h5 class="card-title">Gaming T-ups</h5>
      </a>
        <p class="card-text">Look for wide range of Gaming related T-up advertisements like forming a team to play Pubg, CS, etc.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'category' category='Household Chores' %}">
        <img src="{% static 'household_chores.jpg' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'category' category='Household Chores' %}">
        <h5 class="card-title">Household Chores T-ups</h5>
      </a>
        <p class="card-text">Look for wide range of Household related T-up advertisements like finding a partner to share awesome recepies or participate in a cooking competition together.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <a href="{% url 'category' category='Other' %}">
        <img src="{% static 'other.png' %}" class="card-img-top" alt="..." height="200px">
      </a>
      <div class="card-body">
      <a href="{% url 'category' category='Other' %}">
        <h5 class="card-title">Other T-ups</h5>
      </a>
        <p class="card-text">If none of the above matches your intrest then you can find random T-up advertisements here to check if something else intrests you the most.</p>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}