{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}
<br>
<br>
{% endif %}

<h1>Update Profile</h1>

<form action="{% url 'edit_profile' %}" method="POST">
  {% csrf_token %}

  {% for d in data %}
  <br>
  First Name:
  <br>
  <input type="text" name="first_name" value="{{ d.first_name }}">
  <br>
  Last Name:
  <br>
  <input type="text" name="last_name">
  <br>
  Gender:
  <br>
  <input type="text" name="gender">
  <br>
  Email:
  <br>
  <input type="text" name="email">
  <br>
  City:
  <br>
  <input type="text" name="city">
  <br>
  Country:
  <br>
  <input type="text" name="country">
  <br>
  About Me:
  <br>
  <input type="text" name="about_me">
  <br>
  Portfolio:
  <br>
  <input type="url" name="portfolio">
  <br>
  Linkedin:
  <br>
  <input type="url" name="linkedin">
  <br>
  Facebook:
  <br>
  <input type="url" name="facebook">
  <br>
  Twitter:
  <br>
  <input type="url" name="twitter">
  <br>
  Other Links:
  <br>
  <input type="url" name="other_url">
  <br>
  Phone (with country code):
  <br>
  <input type="tel" name="phone">
  <br>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endfor %}
{% endblock %}