<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>TeamUp</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo.png' %}" class="d-inline-block alighn-top" style="width: 70px; border-radius: 100%;">
      TeamUp
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link text-light" href="{% url 'create_t_up' %}">Add T-Up</a>
          <a class="nav-item nav-link text-light" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link text-light" href="{% url 'user_profile' %}">My Profile</a>
          <a class="nav-item nav-link text-light" href="{% url 'user_teamups' %}">My T-Ups</a>
          <a class="nav-item nav-link text-light" href="{% url 'requests' %}">Requests</a>
          <!-- <a class="nav-item nav-link"  href="{% url 'notifications' %}">Notifications</a> -->
          <a class="nav-item nav-link text-light" href="javascript:{document.getElementById('logout').submit()}" onclick="">Logout</a>
          <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden"/>
          </form>
          <div class="dropdown">
          <!-- <a href="#"> -->
          <img src="{% static 'notification.png' %}" onclick="getNotification();" data-toggle="dropdown" class="dropdown-toggle d-inline-block alighn-top" style="width: 40px; border-radius: 100%;">
          <span class="caret badge badge-danger" id="count"></span>         
          <ul class="dropdown-menu bg-light text-dark" style="overflow-y:auto; max-height:50vh" id="notification_ul" role="menu" aria-labelledby="menu1">
          </ul>
          <!-- </a> -->
        </div>
          {% else %}
          <a class="nav-item nav-link text-light" href="{% url 'signup' %}">Sign Up</a>
          <a class="nav-item nav-link text-light" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
      </div>
    </nav>
  </header>

  <div class="container">

    {% block content %}
    {% endblock %}
    
  </div>

  
  <div class="text-light fixed-bottom bg-dark">
    <div class="text-center fixed-bottom bg-dark" style="padding-top: 0.5%;">
      <p class="bottom" style="font-size: small; font-weight: bold;">
        Copyright © {% now "Y" %} TeamUp &emsp; &emsp; &emsp; &emsp; &emsp; Developed by
        <a class="ct-u-motive-color text-center" style="align-content: right;" href="http://shivambhirud.herokuapp.com" target="_blank">Shivam Bhirud</a> 
      </p>  
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script>
    function getNotification(x){
      var req = new XMLHttpRequest();
      var url = "{% url 'notifications' %}";
      req.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            // eval can be used below instead of json.parse but it has security issues and 
            // it consumes a lot of time to execute.
              var comments = JSON.parse(req.responseText);
              var notification_count = comments.length;
              var ul = document.getElementById('notification_ul'); 
              var count = document.getElementById('count');
              count.innerHTML = notification_count;            
              ul.innerHTML = ''; // clears the previous output (avoids repetation)  
              for(var i = 0; i < notification_count; i++){
                var li = document.createElement('li');        
                li.setAttribute("style", "font-weight: bolder; font-size: small;");
                li.setAttribute("class", "list-group-item list-group-item-action list-group-item-primary text-dark");
                li.innerHTML = comments[i].comments;
                console.log(comments[i].comments);
                ul.appendChild(li);              
              }   
          } 
      };
      req.open("GET", url, true);
      req.send();
    }
    // To get notification count when page loads
    window.onload = function exampleFunction() { 
      getNotification(1);
    } 
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>